@charset "UTF-8";

/* Paleta de cores
verde: #49a09d
lilás: #5f2c82 
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body,html{
    background-color: #4f28ff  ;
    height: 100vh;
    width: 100vw;
}
main{
    height: 100vh;
    width: 100vw;
    position: relative;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
    transition: width .3s, heith .3s;
    transition-timing-function: ease;

}
section div#imagem{
    background: #5f2c82 url(../imagens/pexels-pixabay-277770.jpg) no-repeat;
    background-size: cover;
    height: 200px;
    display: block;
}
section div#formulario{
    display: block;
    padding: 10px;
}
    div#formulario p{
        font-size: 0.8em;
    }

div#formulario h1{
    text-align: center;
    margin-bottom: 10px;
}
form div.campo{
    background-color: rgb(73, 73, 199);
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
  
    margin: 5px 0px;
}
div.campo label{
    display: none;
}
div.campo i{
    color: white;
    
    font-size: 2em;
    width: 40px;
    padding: 5px;
}
div.campo input{
    background-color: aqua;
    font-size: 1em;
    width: calc(100% - 44px);
    height: 100%;
    transform: translatey(-10px);
    border: 0px;
    border-radius: 0px;
    padding: 4px;
  
}
form input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 22px;
    background-color: rgb(203, 239, 252);
    border: none;
    border-radius: 5px;
}
form input[type=submit]:hover{
    background-color: aquamarine;

}
form a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    height: 40px;
    padding-top: 6px;
    margin-top: 5px;
    background-color: rgb(7, 155, 155);
    color: cyan;
    border: 1px solid darkcyan;
    border-radius: 5px;
    text-decoration: none;
}
form a.botao:hover{
    background-color: #4f28ff;
} 

form a.botao i{
    font-size: 0.8em;
}